body {
  background-color: silver;
}

h1 {
  
 
}
 
p {

}
 
p {
 
}
 
p {

}
 
p {
color:chocolate; 
 }
 
p {
color:gold;
font-family:Trebuchet MS;
font-size: 14px;
margin-left 2cm;
margin-right 2cm;
<b>;

}

p {
color:gold;
font-family:Trebuchet MS;
font-size: 14px;
margin-left 4cm;
margin-right 4cm;
<b>;
<i>;

}
