body {
  background-color: lightblue;
}

h1 {
  color:moccasinn;
  font-family:arial;
  font-size: 14px; 
  <b>;
}
 
p {
color:khaki;
font-family:arial;
font-size: 14px;
}
 
p {
color:khaki;
font-family:arial;
font-size: 12px; 
}
 
p {
color:ivory;
font-family:arial;
font-size: 12px;
<b>;
}
 
p {
color:chocolate; 
 }
 
p {
color:gold;
font-family:Trebuchet MS;
font-size: 14px;
margin-left 2cm;
margin-right 2cm;
<b>;

}

p {
color:gold;
font-family:Trebuchet MS;
font-size: 14px;
margin-left 4cm;
margin-right 4cm;
<b>;
<i>;

}